.u-section-1 .u-sheet-1 {
  min-height: 1290px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 855px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 7px;
}

.u-section-1 .u-list-1 {
  width: 195px;
  height: auto;
  min-height: 376px;
  margin: 11px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 376px;
  grid-gap: 5px 5px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 20px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 20px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 20px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 855px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 30px 28px;
}

.u-section-1 .u-products-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 797px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 29px 10px;
}

.u-section-1 .u-image-1 {
  height: 300px;
  margin-top: -53px;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: -78px 1px 0;
}

.u-section-1 .u-product-price-1 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 72px auto 0;
  padding: 10px 9px 10px 8px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 29px 10px;
}

.u-section-1 .u-image-2 {
  height: 300px;
  margin-top: -53px;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: -78px 1px 0;
}

.u-section-1 .u-product-price-2 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 72px auto 0;
  padding: 10px 9px 10px 8px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 29px 10px;
}

.u-section-1 .u-image-3 {
  height: 300px;
  margin-top: -53px;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: -78px 1px 0;
}

.u-section-1 .u-product-price-3 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 72px auto 0;
  padding: 10px 9px 10px 8px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 29px 10px;
}

.u-section-1 .u-image-4 {
  height: 300px;
  margin-top: -53px;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: -78px 1px 0;
}

.u-section-1 .u-product-price-4 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 72px auto 0;
  padding: 10px 9px 10px 8px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 29px 10px;
}

.u-section-1 .u-image-5 {
  height: 300px;
  margin-top: -53px;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  margin: -78px 1px 0;
}

.u-section-1 .u-product-price-5 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 72px auto 0;
  padding: 10px 9px 10px 8px;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 29px 10px;
}

.u-section-1 .u-image-6 {
  height: 300px;
  margin-top: -53px;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  margin: -78px 1px 0;
}

.u-section-1 .u-product-price-6 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 72px auto 0;
  padding: 10px 9px 10px 8px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 855px;
}

.u-section-1 .u-container-layout-16 {
  padding: 20px 17px;
}

.u-section-1 .u-list-2 {
  width: 195px;
  margin: 0;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 376px;
  grid-gap: 5px 5px;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 20px;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 0 20px;
}

.u-section-1 .u-text-15 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-1 .u-container-layout-19 {
  padding: 0 20px;
}

.u-section-1 .u-text-16 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-1 .u-container-layout-20 {
  padding: 0 20px;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 0 20px;
}

.u-section-1 .u-text-18 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-1 .u-container-layout-22 {
  padding: 0 20px;
}

.u-section-1 .u-text-19 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-1 .u-container-layout-23 {
  padding: 0 20px;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 705px;
  }

  .u-section-1 .u-list-1 {
    width: 174px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 11px;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 11px;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 11px;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 11px;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 11px;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 11px;
    margin-left: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 705px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 620px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-image-1 {
    height: 195px;
    margin-top: -9px;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    padding-right: 8px;
    padding-left: 6px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-image-2 {
    height: 195px;
    margin-top: -9px;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-product-price-2 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    padding-right: 8px;
    padding-left: 6px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-image-3 {
    height: 195px;
    margin-top: -9px;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-product-price-3 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    padding-right: 8px;
    padding-left: 6px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-image-4 {
    height: 195px;
    margin-top: -9px;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-product-price-4 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    padding-right: 8px;
    padding-left: 6px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-image-5 {
    height: 195px;
    margin-top: -9px;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-product-price-5 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 20px;
    padding-right: 8px;
    padding-left: 6px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-image-6 {
    height: 195px;
    margin-top: -9px;
  }

  .u-section-1 .u-text-13 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-product-price-6 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    padding-right: 8px;
    padding-left: 6px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 705px;
  }

  .u-section-1 .u-list-2 {
    width: 155px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-list-1 {
    width: 130px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1140px;
  }

  .u-section-1 .u-products-1 {
    min-height: 816px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1041px;
  }

  .u-section-1 .u-image-1 {
    height: 148px;
    margin-top: -10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-image-2 {
    height: 148px;
    margin-top: -10px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-image-3 {
    height: 148px;
    margin-top: -10px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-image-4 {
    height: 148px;
    margin-top: -10px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-image-5 {
    height: 148px;
    margin-top: -10px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-image-6 {
    height: 148px;
    margin-top: -10px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-list-2 {
    width: 111px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-1 .u-list-1 {
    width: 225px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 455px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 18px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 18px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 18px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 18px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: 18px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-top: 18px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin-top: 18px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1680px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-products-1 {
    min-height: 375px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 187px;
    margin-top: 14px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 187px;
    margin-top: 14px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 187px;
    margin-top: 14px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 187px;
    margin-top: 14px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 187px;
    margin-top: 14px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-6 {
    height: 187px;
    margin-top: 14px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 495px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-2 {
    width: 225px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 454px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
    margin-top: 18px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1rem;
    margin-top: 18px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
    margin-top: 18px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1rem;
    margin-top: 18px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1rem;
    margin-top: 18px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1rem;
    margin-top: 18px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1rem;
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1724px;
  }

  .u-section-1 .u-image-1 {
    height: 115px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-1 .u-image-2 {
    height: 115px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-1 .u-image-3 {
    height: 115px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-1 .u-image-4 {
    height: 115px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-1 .u-image-5 {
    height: 115px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-1 .u-image-6 {
    height: 115px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}