.u-section-1 .u-sheet-1 {
  min-height: 631px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 545px;
}

.u-section-1 .u-container-layout-1 {
  padding: 12px;
}

.u-section-1 .u-list-1 {
  width: 250px;
  margin: 0 auto -1px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 359px;
  grid-gap: 5px 5px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-1 .u-group-1 {
  width: 53px;
  min-height: 43px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -37px 0 0 53px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 20px;
}

.u-section-1 .u-group-2 {
  width: 53px;
  min-height: 43px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: -37px 0 0 53px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 20px;
}

.u-section-1 .u-group-3 {
  width: 53px;
  min-height: 43px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: -37px 0 0 53px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 20px;
}

.u-section-1 .u-group-4 {
  width: 53px;
  min-height: 43px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: -37px 0 0 53px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 20px;
}

.u-section-1 .u-group-5 {
  width: 53px;
  min-height: 43px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  margin: -37px 0 0 53px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 20px;
}

.u-section-1 .u-group-6 {
  width: 53px;
  min-height: 43px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  margin: -37px 0 0 53px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 20px;
}

.u-section-1 .u-group-7 {
  width: 53px;
  min-height: 43px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: -37px 0 0 53px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 545px;
}

.u-section-1 .u-container-layout-16 {
  padding: 11px 30px;
}

.u-section-1 .u-blog-1 {
  width: 197px;
  margin: 0 auto;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 510px;
  grid-gap: 22px 22px;
}

.u-section-1 .u-repeater-item-8 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-17 {
  padding: 22px 14px 12px;
}

.u-section-1 .u-image-1 {
  height: 83px;
  width: 123px;
  margin: 0 auto;
}

.u-section-1 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 8px auto 0;
}

.u-section-1 .u-text-15 {
  width: 181px;
  margin: 17px auto 0;
}

.u-section-1 .u-repeater-item-9 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-18 {
  padding: 22px 14px 12px;
}

.u-section-1 .u-image-2 {
  height: 83px;
  width: 123px;
  margin: 0 auto;
}

.u-section-1 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 8px auto 0;
}

.u-section-1 .u-text-16 {
  width: 181px;
  margin: 17px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 545px;
}

.u-section-1 .u-container-layout-19 {
  padding: 11px 30px;
}

.u-section-1 .u-blog-2 {
  width: 197px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 510px;
  grid-gap: 22px 22px;
}

.u-section-1 .u-repeater-item-10 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-20 {
  padding: 22px 14px 12px;
}

.u-section-1 .u-image-3 {
  height: 83px;
  width: 123px;
  margin: 0 auto;
}

.u-section-1 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 8px auto 0;
}

.u-section-1 .u-text-17 {
  width: 181px;
  margin: 17px auto 0;
}

.u-section-1 .u-repeater-item-11 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-21 {
  padding: 22px 14px 12px;
}

.u-section-1 .u-image-4 {
  height: 83px;
  width: 123px;
  margin: 0 auto;
}

.u-section-1 .u-metadata-4 {
  font-size: 0.875rem;
  margin: 8px auto 0;
}

.u-section-1 .u-text-18 {
  width: 181px;
  margin: 17px auto 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 545px;
}

.u-section-1 .u-container-layout-22 {
  padding: 0 30px;
}

.u-section-1 .u-blog-3 {
  width: 197px;
  height: auto;
  margin: 11px auto 0;
}

.u-section-1 .u-repeater-4 {
  grid-template-columns: 100%;
  min-height: 510px;
  grid-gap: 22px 22px;
}

.u-section-1 .u-repeater-item-12 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-23 {
  padding: 22px 14px 12px;
}

.u-section-1 .u-image-5 {
  height: 83px;
  width: 123px;
  margin: 0 auto;
}

.u-section-1 .u-metadata-5 {
  font-size: 0.875rem;
  margin: 8px auto 0;
}

.u-section-1 .u-text-19 {
  width: 181px;
  margin: 17px auto 0;
}

.u-section-1 .u-repeater-item-13 {
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-24 {
  padding: 22px 14px 12px;
}

.u-section-1 .u-image-6 {
  height: 83px;
  width: 123px;
  margin: 0 auto;
}

.u-section-1 .u-metadata-6 {
  font-size: 0.875rem;
  margin: 8px auto 0;
}

.u-section-1 .u-text-20 {
  width: 181px;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 11px 0;
  }

  .u-section-1 .u-list-1 {
    width: 227px;
    margin-bottom: 0;
    margin-left: -15px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-left: 20px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -33px;
    margin-right: -7px;
    margin-left: 79px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-left: 20px;
    height: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -33px;
    margin-right: -7px;
    margin-left: 79px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-3 {
    margin-left: 20px;
    height: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -33px;
    margin-right: -7px;
    margin-left: 79px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-4 {
    margin-left: 20px;
    height: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -33px;
    margin-right: -7px;
    margin-left: 79px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-5 {
    margin-left: 20px;
    height: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -33px;
    margin-right: -7px;
    margin-left: 79px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-6 {
    margin-left: 20px;
    height: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -33px;
    margin-right: -7px;
    margin-left: 79px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-7 {
    margin-left: 20px;
    height: auto;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -33px;
    margin-right: -7px;
    margin-left: 79px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-1 .u-blog-1 {
    width: 165px;
  }

  .u-section-1 .u-text-15 {
    width: 138px;
  }

  .u-section-1 .u-text-16 {
    width: 138px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 449px;
  }

  .u-section-1 .u-blog-2 {
    width: 165px;
  }

  .u-section-1 .u-text-17 {
    width: 138px;
  }

  .u-section-1 .u-text-18 {
    width: 138px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 449px;
  }

  .u-section-1 .u-blog-3 {
    width: 165px;
  }

  .u-section-1 .u-text-19 {
    width: 138px;
  }

  .u-section-1 .u-text-20 {
    width: 138px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 552px;
  }

  .u-section-1 .u-list-1 {
    width: 136px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 435px;
  }

  .u-section-1 .u-group-1 {
    width: 40px;
    margin-top: 7px;
    margin-right: 96px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin-top: -29px;
    margin-right: 1px;
    margin-left: 47px;
  }

  .u-section-1 .u-group-2 {
    width: 40px;
    margin-top: 7px;
    margin-right: 96px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.625rem;
    margin-top: -29px;
    margin-right: 1px;
    margin-left: 47px;
  }

  .u-section-1 .u-group-3 {
    width: 40px;
    margin-top: 7px;
    margin-right: 96px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.625rem;
    margin-top: -29px;
    margin-right: 1px;
    margin-left: 47px;
  }

  .u-section-1 .u-group-4 {
    width: 40px;
    margin-top: 7px;
    margin-right: 96px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.625rem;
    margin-top: -29px;
    margin-right: 1px;
    margin-left: 47px;
  }

  .u-section-1 .u-group-5 {
    width: 40px;
    margin-top: 7px;
    margin-right: 96px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.625rem;
    margin-top: -29px;
    margin-right: 1px;
    margin-left: 47px;
  }

  .u-section-1 .u-group-6 {
    width: 40px;
    margin-top: 7px;
    margin-right: 96px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.625rem;
    margin-top: -29px;
    margin-right: 1px;
    margin-left: 47px;
  }

  .u-section-1 .u-group-7 {
    width: 40px;
    margin-top: 7px;
    margin-right: 96px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 0.625rem;
    margin-top: -29px;
    margin-right: 1px;
    margin-left: 47px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 552px;
  }

  .u-section-1 .u-container-layout-16 {
    padding: 0;
  }

  .u-section-1 .u-blog-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 552px;
  }

  .u-section-1 .u-container-layout-19 {
    padding: 0 2px;
  }

  .u-section-1 .u-blog-2 {
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 552px;
  }

  .u-section-1 .u-blog-3 {
    margin-top: 14px;
    margin-left: -28px;
    margin-right: -28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-list-1 {
    width: 230px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -37px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    margin-top: -37px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
    margin-top: -37px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.125rem;
    margin-top: -37px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.125rem;
    margin-top: -37px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.125rem;
    margin-top: -37px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.125rem;
    margin-top: -37px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-blog-1 {
    width: 230px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 538px;
  }

  .u-section-1 .u-blog-2 {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 538px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-blog-3 {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}